html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 1em;
}

.container {
	width: 31%;
	position: relative;
	margin: 0.5rem 1rem;
}

.container-title {
    margin: 0
}

.container-main {
	position: relative;
	overflow: hidden;
	width: 100%;
    height: 300px;
	border-radius: 10px;
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1400px){
	.container {
		width: 45%;
	}
}

@media screen and (max-width: 768px){
	#app {
		flex-direction: column;
	}
	.container {
		width: 92%;
	}
}
